@font-face {
	font-family: OpenSans;
	src: url(open-sans.regular.ttf);
}

body {
	background: rgb(132, 234, 255);
	background: radial-gradient(circle, rgba(132, 234, 255, 1) 0%, rgba(0, 215, 255, 1) 100%);
}

#maindiv {
	width: 80%;
	height: 92%;
	margin: 2% 10%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: flex-start;
	gap: 2%;
}
.header {
	font-family: OpenSans;
	font-size: 300%;
	width: 100%;
	height: 10%;
	background-color: #00e1ff;
	text-align: center;
	outline: black 5px solid;
}
.gamecontainer {
	font-family: OpenSans;
	font-size: 100%;
	width: 30%;
	height: 33%;
	background-color: #00e1ff;
	outline: black 5px solid;
	display: flex;
	flex-direction: column;
}
#gamescontainer {
	width: 100%;
	height: 100%;
	margin: 0%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	gap: 3%;
}
.gametitle {
	text-align: center;
	margin: 5% 12.5%;
	font-size: 150%;
	width: 75%;
	border-bottom: black 2px solid;
}
.gamedesc {
	text-align: center;
}
.gamelink {
	width: 90%;
	margin: 5% 5%;
	text-align: center;
	font-size: 200%;
	outline: black 2px solid;
	background-color: #3bd5fc;
}
a {
	all: unset;
}
.hoverclass {
	animation: 0.5s ease 0s 1 forwards hover;
}
.reversehoverclass {
	animation: 0.5s ease 0s 1 forwards reversehover;
}
a:hover {
	transition-duration: 500ms;
	filter: brightness(0.75);
}
.gamecontainer:hover {
	transition-duration: 500ms;
	filter: brightness(0.9);
}
@keyframes hover {
	from {
		width: 33%;
		height: 33%;
		opacity: 1;
	}
	to {
		width: 40%;
		height: 40%;
		opacity: 0.75;
	}
}
@keyframes reversehover {
	from {
		width: 40%;
		height: 40%;
		opacity: 0.75;
	}
	to {
		width: 33%;
		height: 33%;
		opacity: 1;
	}
}
